<!-- your html code here -->
<div class="container">
<h1><b>Porfolio</b></h1>
<p style="font-size: 0.6cm;">Donec ullamcorper nulla non metus auctor fringilla. vestibulum id ligula porta felis eusmod semper. Praesent commodo cursus magna, vel scelerisque nisl consctetur. Fusce dapibus, tellus ac cursus commodo.</p>
<div class="row">
    <div class="col-4">
        <div class="card" style="width: 25rem;">
            <img src="https://raw.githubusercontent.com/4GeeksAcademy/proyectocolaboracion-grupo4/master/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><span style= "font-size: 0.6cm; color: deepskyblue; ">Project Name</span>
                <br>Lorem ipsum  dolor sit amet, consectetur adipscing elit. Nam viverra eusmod odio, gravida pellentesque urna varius vitae.</br>
              </p>
              
            </div>
          </div>

    </div>
    <div class="col-4">
        <div class="card" style="width: 25rem;">
            <img src="https://raw.githubusercontent.com/4GeeksAcademy/proyectocolaboracion-grupo4/master/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><span style= "font-size: 0.6cm; color: deepskyblue; ">Project Name</span>
                <br>Lorem ipsum  dolor sit amet, consectetur adipscing elit. Nam viverra eusmod odio, gravida pellentesque urna varius vitae.</br>
              </p>
              
            </div>
          </div>

    </div>
    <div class="col-4">
        <div class="card" style="width: 25rem;">
            <img src="https://raw.githubusercontent.com/4GeeksAcademy/proyectocolaboracion-grupo4/master/website/assets/img/big-project-image.png">
            <div class="card-body">
              <p class="card-text"><span style= "font-size: 0.6cm; color: deepskyblue; ">Project Name</span>
                <br>Lorem ipsum  dolor sit amet, consectetur adipscing elit. Nam viverra eusmod odio, gravida pellentesque urna varius vitae.</br>
              </p>
              
            </div>
          </div>

    </div>
</div>
</div>