<!-- your html code here -->

<div class="container" style="padding-top: 10%;">
    <span class="border">
<div class="row">
<div class="col-4">
    
    <img src="https://raw.githubusercontent.com/4GeeksAcademy/proyectocolaboracion-grupo4/master/website/assets/img/2.jpg" class="rounded-circle" alt="">
</div>
<div class="col-8">
<h1><span style= "font-size: 1cm; font-family: sans-serif;">The Second Heading</span> <span style="color: darkgray; font-size: 1cm;"> Is Pretty Cool Too.</span></h1>
<p style="font-size: 20px; font-family:Verdana, Geneva, Tahoma, sans-serif;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
</p>
</div>
</div>



    </span> 
</div>