<!-- your html code here -->
<div class="container">
<div class="row">
<div class="col-3">
    
    <img src="https://raw.githubusercontent.com/4GeeksAcademy/proyectocolaboracion-grupo4/master/website/assets/img/2.jpg" class="rounded-circle" alt="">
</div>
<div class="col-9">
<p><span style= "font-size: 1cm;">The Second Heading</span> <span style="color: darkgray; font-size: 1cm;"> Is Pretty Cool Too.</span>
<br style="font-size: 0.8cm; font-family:Verdana, Geneva, Tahoma, sans-serif;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</br>
</p>
</div>
</div>




</div>